@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .mdx {
    @apply bg-green-400;
  }

  * {
    @apply font-figtree  transition-[background] duration-300 ease-in-out border-gray-400  dark:border-zinc-600;
    scrollbar-color: rgba(25, 177, 160, 0.75) rgba(128, 128, 128, 0.3);
  }

  hr {
    @apply border-0 border-t-2;
  }

  main {
    @apply py-3 text-center overflow-clip;
  }

  html {
    @apply text-[15px] md:text-[16.5px] lg:text-[18px];
  }
  body {
    @apply text-lg;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins;
  }

  h6 {
    @apply text-xl font-normal;
  }

  h5 {
    @apply text-2xl font-normal;
  }

  h4 {
    @apply text-3xl font-medium;
  }

  h3 {
    @apply text-4xl font-medium;
  }

  h2 {
    @apply text-5xl font-semibold;
  }

  h1 {
    @apply text-6xl font-semibold;
  }
}

@layer utilities {
  .bordered {
    @apply border-2;
  }

  a.default,
  #mdx a {
    @apply text-default dark:text-default hover:text-default-darker hover:cursor-pointer hover:underline-animated underline-animated hover:dark:text-default-lighter;
  }

  #mdx ul li {
    @apply list-disc list-inside;
  }

  #mdx ol li {
    @apply list-decimal list-inside;
  }

  #mdx p {
    @apply inline-block;
  }

  .choice {
    @apply flex items-center justify-center px-1 rounded-lg bg-zinc-400 bg-opacity-0 hover:bg-opacity-30 transition-opacity duration-200 ease-in-out;
  }

  .shadowed {
    @apply shadow-xl shadow-[#6663];
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="search"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="url"],
  input[type="color"],
  select {
    @apply max-w-[calc(100%-16px)] box-border focus:border-default focus:dark:border-default-darker outline-none rounded-lg bg-zinc-400 bg-opacity-20 focus:rounded-none focus:border-b-2 focus:dark:bg-transparent focus:bg-transparent mx-2 px-1 transition-colors duration-200 ease-in-out;
  }

  input[type="file"] {
    @apply max-w-[calc(100%-16px)] box-border outline-none rounded-none border-b-2 mx-2 px-1 transition-colors duration-200 ease-in-out;
  }

  select {
    @apply border-b-2 rounded-none bg-transparent dark:bg-transparent;
  }

  /** select options */
  option {
    @apply bg-zinc-200 dark:bg-zinc-600 dark:text-white;
  }

  input[type="checkbox"] {
    @apply w-5 h-5 accent-default bordered;
  }

  textarea {
    @apply max-w-[calc(100%-16px)] bordered focus:border-default focus:dark:border-default outline-none rounded-lg bg-gray-400 bg-opacity-20 focus:dark:bg-opacity-0 focus:bg-opacity-0 mx-2 px-1 transition-colors duration-200 ease-in-out;
  }

  button:disabled {
    @apply brightness-75 dark:brightness-50;
  }

  button {
    @apply transition-[filter] duration-300 ease-in-out;
  }

  .underline-animation,
  a.default,
  #mdx a {
    @apply inline relative;
    background: linear-gradient(to right, rgb(19 134 121), rgb(25 179 161));
    background-size: 0 0.15em;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 300ms;
  }

  .underline-animated,
  a.default:hover,
  #mdx a:hover,
  .underline-animated:focus,
  a.default:focus,
  #mdx a:focus {
    background-size: 100% 0.15em !important;
  }

  code {
    @apply font-space-mono;
  }
}
